@using Newtonsoft.Json.Linq
@model JToken

<h1>F1 Races</h1>
@if (Model != null)
{
    <ul>
        @foreach (var race in Model)
        {
            <li>
                <strong>@race["raceName"]</strong> (@race["date"])
                <br />
                Circuit: @race["Circuit"]?["circuitName"], @race["Circuit"]?["Location"]?["locality"]
            </li>
        }
    </ul>
}
else
{
    <p>No races found.</p>
}
